.header
    z-index: 3
    background: white
    position: sticky
    top: 0
    width: 100%
    min-height: 70px
    &-container
        height: 70px
        display: flex
        align-items: center
        justify-content: space-between

    &-logo
        height: 40px
.nav
    display: flex   
    &-link
        text-transform: uppercase
        margin: 0 0.5em
        font-size: 0.9rem
        transition: $trans
        font-weight: 700
        color: $text
        &::after
            display: block
            content: ''
            background: $pri
            width: 0
            height: 3px
            border-radius: 500px
            transition: $trans
        &.current::after
            width: 100%
            transition: $trans 200ms
            
        &:hover
            color: $pri